body {
    background-color: rgb(23, 23, 23);
    color: aliceblue;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 200px;
    font-size: 25px;

}
button{
padding: 10px 50px;
margin: 10px;
font-size: 25px;
border-radius: 15px;
box-shadow: 5px solid rgb(231, 228, 228);

}